.noscrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content-button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2.5vh 3vw 3vh 3vw;
}

.content-button {
  width: 32%;
  margin-bottom: 10px;
  padding: 0.7vh 0.6vw;
  box-sizing: border-box;
}

.content-button > img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: block;
}

.content-button > div {
  text-align: center;
  font-size: 12px;
  color: #323232;
  background-color: #e4e4e4;
  border-radius: 0 0 4px 4px;
  padding: 3px 0;
}

.content > .promotion-title {
  font-size: 18px;
  margin-left: 3.7vw;
  color: #6f6f6f;
  font-weight: bold;
}

.content > .promotion {
  display: flex;
  overflow-x: auto;
  margin: 1vh 0 10px 3.7vw;
  -webkit-overflow-scrolling: touch;
}

.content > .promotion > div {
  text-align: center;
  font-size: 13px;
  margin-right: 3vw;
  flex:none;
  width: 43vw;
}

.content > .promotion > div > img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
}
.content > .promotion .promotion-desc{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #e4e4e4;
  text-align: center;
  font-size: 12px;
  color: #323232;
  padding: 3px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content > .banner > img {
  width: 100%;
  display: block;
}

.popup-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.popup {
    width: 55vw;
    background: linear-gradient(to bottom, #ff9200 0, #ff9200 10px, #fff 10px, #fff 100%);
    border-radius: 6px;
    box-shadow: 0 5px #272727;
    padding: 30px 15px 10px;
    animation: showAlert 0.3s;
}

.popup > .icon {
  text-align: center;
  margin-top: -65px;
}

.popup > .icon > img {
  width: 85px;
}

.popup > .text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #545454;
    margin: 10px 0;
    white-space: pre-wrap;
    word-break: break-all;
}

.popup > .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup > .buttons > span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #ff9201;
    box-shadow: 0 3px #cb5f00;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 40px;
    margin: 5px 0;
    white-space: pre-wrap;
    word-break: break-all;
}

@keyframes showAlert {
    0% { transform: scale(0.7) }
    45% { transform: scale(1.05) }
    80% { transform: scale(0.95) }
    100% { transform: scale(1) }
}

@media screen and (min-width: 568px) {
    .popup > .buttons {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 737px) {
  .content-button-group {
    justify-content: space-around;
  }

  .content-button > div {
    font-size: 16px;
  }

  .content > .banner {
    background-color: #d28711;
  }

  .content > .banner > img {
    width: 65%;
    margin: 0 auto;
  }

  .content-button {
    width: 32%;
    margin-bottom: 10px;
    padding: 0.7vh 0.6vw;
    box-sizing: border-box;
  }

  .content-button > img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    display: block;
  }

	.promotion-title{
		font-size: 27px!important;
	}
  .content-button > div {
    text-align: center;
    font-size: 20px;
    color: #323232;
    background-color: #e4e4e4;
    border-radius: 0 0 4px 4px;
    padding: 3px 0;
  }
  .content > .promotion .promotion-desc{
    font-size: 20px;
  }
}
